/* home */

.box {
    width: 300px;
    height: 312px;
    position: relative;
    padding: 0 4px;
    display: grid;
}

.box img {
    width: 250px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

h2 {
    text-align: center;
}

h3 {
    position: absolute;
    color: white;
}

.tengah {
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translate(-50%);
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.8);
    /* Black background with 0.5 opacity */
}

body {
    background-color: dimgrey;
    background-size: 100%;
    font-family: 'vollkrin', cursive;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: x-large;
}

h5 {
    color: black;
    top: 40%;
    text-align: center;
}

.image {
    opacity: 1;
    transform: scale(1);
    display: block;
    transition: .5s ease-in-out;
}

.box:hover .image {
    opacity: 0.5;
    transform: scale(1.1);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
}

/* Sidebar links */

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    width: 20%;
    text-decoration: none;
    text-align: center;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

.content {
    margin-left: 300px;
    padding: 0;
    height: 1000px;
    width: 70%;
}

.textbanner {
    position: absolute;
    left: 10%;
    top: 30%;
    padding: 10px 16px;
    font-family\: 'Fredoka One', Impact;
}

.gambar {
    position: absolute;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: relative;
    top: 0;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.banner {
    position: absolute;
    left: 8%;
    top: 25%;
}

.bannertitle {
    position: absolute;
    left: 8%;
    top: 35%;
    border-bottom: 4px solid red;
    width: 5%;
}

.judul {
    text-align: center;
    font-weight: bold;
    margin: 4;
}

.card p {
    margin-top: -10px;
    margin-bottom: 1px;
}

.row .card:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

a {
    text-color: black;
}

.card-img {
    transform: scale(1);
    display: block;
    transition: .5s ease-in-out;
    margin-left: 30px;
}

.card-img:hover {
    transform: scale(1.2);
}

.fgr-img {
    width: 20%;
    margin-left: 30px;
    opacity: 1;
}

.fgr-img:hover {
    opacity: 0.5;
}